body {
  font-family: 'helvetica neue',sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(../images/background.png) repeat; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3); }
  header h1, header h2 {
    margin: 0;
    padding: 10px;
    display: inline-block; }
  header h1 {
    font-family: georgia;
    font-style: italic;
    font-weight: 100;
    color: #59e;
    text-shadow: -2px 0 0 black;
    border-right: 2px dashed rgba(0, 0, 0, 0.5);
    margin-left: 20%; }

footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px; }

#map {
  width: 100%;
  height: 350px;
  position: fixed !important;
  top: 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
  z-index: 5; }
  #map > div {
    z-index: 6; }

#stream {
  padding-top: 350px; }

#stream article {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
  border-top-left-radius: 0; }
  #stream article.new {
    opacity: 0; }
  #stream article img.service {
    width: 32px;
    height: 32px;
    float: left;
    position: absolute;
    top: 0;
    left: -32px;
    margin: 0;
    box-shadow: none; }
  #stream article h1 {
    margin: 0;
    margin-bottom: 15px;
    font-family: georgia,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    line-height: 1.4; }
  #stream article img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  #stream article p {
    display: inline; }
  #stream article p.location {
    margin-left: 10px; }

.intro {
  width: 60%;
  margin: auto;
  margin-top: 100px; }
  .intro p {
    font-size: 30px; }
  .intro h3 {
    font-size: 18px; }
